
md-card{
	background: transparent;
	box-shadow: none !important;
	width: 600px;
	// background-color: mat-color($primary, lighter);
}

md-card-content{
	padding: 0px 20px;
	display: flex;
	flex-direction: column;	
}

.button-row{
	button{
		width: 100%;
		font-size: 1.6rem;
		line-height: 1.8rem;
		padding: 20px 0px;

		.mat-icon{
			height: 35px;
		    width: 35px;
		    font-size: 34px;
		    padding-right: 10px;
		}
	}
	// padding: 0px 20px 20px 20px;
	// display: flex;
	// justify-content: flex-end;
}