<md-toolbar>
	<div class="section_name"><md-icon>home</md-icon> Home</div>
	<div class="logo_name">RealRewards +</div>
</md-toolbar>
<div class="container">
	<div class="form-holder">
		<md-card >
		 
		  <md-card-content>
		    
		    <md-card-actions class="button-row">
		      <button md-raised-button color="" (click)="issue()"><md-icon>card_giftcard</md-icon> Issue</button>
		    </md-card-actions>
		    <md-card-actions class="button-row">
		      <button md-raised-button color="" (click)="redeem()"><md-icon>card_membership</md-icon> Redeem</button>
		    </md-card-actions>
		    <md-card-actions class="button-row">
		      <button md-raised-button color="" (click)="balance()"><md-icon>account_balance_wallet</md-icon> Balance</button>
		    </md-card-actions>

		  </md-card-content>
		  
		</md-card>

	</div>
</div>