<h1 md-dialog-title color="accent">Confirmation required</h1>
<div md-dialog-content>Please confirm the Phone <b>{{data}}</b> before proceeding.</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="true">Confirm</button>
  <button md-button md-dialog-close="false">Cancel</button>
</div>