<div class="container">
	<div class="form-holder">
		<md-card >
			<md-card-header>
				<md-card-title class="title">RealRewards+</md-card-title>
			</md-card-header>
			
			<md-card-content>
				<md-input-container>
					<input mdInput placeholder="Username" [(ngModel)]="userModel.username" value="">
				</md-input-container>
				<md-input-container>
					<input mdInput type="password" [(ngModel)]="userModel.password" placeholder="Password" value="">
				</md-input-container>
			</md-card-content>
			<md-card-actions class="button-row">
				<button md-fab color="primary" (click)="login()"><md-icon>chevron_right</md-icon></button>
			</md-card-actions>
		</md-card>

	</div>
</div>