body * {
  font-family: $mat-font-family;
}

.accent {
  background-color : #f44336 !important;
}
md-card{
  width: 600px;

  .mat-card-header-text{
    margin: 0px;
  }

  .title{
    color: black;
    padding: 20px 0;
    margin: 0px;
    font-size: 30px !important;
  }

  md-card-content{
    padding: 0px 20px;
    display: flex !important;
    flex-direction: column; 
  }

  .button-row{
    padding: 0px 20px 20px 20px !important;
    display: flex;
    justify-content: space-between;
  }

}



md-toolbar {
  background-color: #673ab7 !important;
  color: white !important;

  &-row{
    align-content: center;
    justify-content: space-between;  
  }
  

  .section_name,
  .logo_name{
    display: flex;
    align-items: center;

  }

  md-icon{
    padding-right: 15px
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url(assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  // .title {
  //   color: white;
  //   margin:0;
  //   padding:50px 20px;
  // }

}
